///////////////////////////////////////////////////////////////////////////////////
// Block Styles
///////////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////////
// Global Block Styles
///////////////////////////////////////////////////////////////////////////////////
.jem-block {
    position: relative;
    overflow: hidden;
}

//////////////////////////////////////////////////////////////////////
// Home Team////////////////////////////////////////////////////////// 
.block-team {
    &.team-full-slider {
        @media #{$mq_md} {
            header { margin-bottom: 2rem; }
            .team-img {
                position: absolute;
                bottom: 0;
            }
            .name {
                // font-size: 0.9375rem;
            }
        }
        @media #{$mq_xxl} { .team-img { top: 10%; } }
    }

}