///////////////////////////////////////////////////////////////////////////////////
// CARDS - CPT card styles
///////////////////////////////////////////////////////////////////////////////////
a[class*='card-'] { display: block; text-decoration: none;}
///////////////////////////////////////////////////////////////////////////////////
// Flip Card basics
///////////////////////////////////////////////////////////////////////////////////
.flip-card {
    background-color: transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    .fc-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    /* Position the front and back side */
    .fc-front, .fc-back { 
        @include cover();
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }
    .fc-front   { 
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .fc-back     {@include transform( rotateY(180deg) ); }
    .back-wrap  { padding: 20px; }
    @media screen and (min-width: $d_md){
        &:hover, &:focus  { 
            /* Do an horizontal flip when you move the mouse over the flip box container */
            .fc-inner {
                @include transform( rotateY(180deg) ); 
            }
            
        }
    }
}
///////////////////////////////////////////////////////////////////////////////////
// Practices Card
///////////////////////////////////////////////////////////////////////////////////
.card-practice {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem 1.5rem;   
    .icon-wrap {
        position: relative;
        color: currentColor;
        margin-bottom: 1rem;
        i { font-size: 2rem; }
        &.icon-cir{
            width: 90px;
            height: 90px;
            padding: 1rem;
            &::after {
                content: '';
                background-color: currentColor;
                opacity: 0.1;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                @include mb-border-radius(50%); 
            }
        }
    }
    .h6 { color: currentColor; margin-top: 1rem;}
    &.bg-white {
        .h6 { color: var(--color-hx-light); }
        .icon-wrap { color: var(--color-v2); }
        &:hover, &:focus {
            .h6 { color: var(--color-white); }
            .icon-wrap { color: var(--color-white); }
        }
    }
}

///////////////////////////////////////////////////////////////////////////////////
// Award card
///////////////////////////////////////////////////////////////////////////////////
.award-card {
    img { 
        margin: 0 auto;
    }
}
///////////////////////////////////////////////////////////////////////////////////
// Testimonial card
///////////////////////////////////////////////////////////////////////////////////
.testimonial-card  {
    .icon-wrap img {
        max-width: 60px;
    }
}

///////////////////////////////////////////////////////////////////////////////////
// Team card
///////////////////////////////////////////////////////////////////////////////////
// team ratio for hero and card
.ratio-team { --bs-aspect-ratio: calc( (380/300) * 100% ); }
//team card
.team-card {
    .overlay { 
        @include transition( all 450ms );
        opacity: 0; 
    }
    .overlay {
        background-color: $v1;
        background-color: var(--color-v1); 
        .meet {
            color: $white;
            color: var(--color-white);
            font-size: 1.1rem;
            padding: 0.5rem 1.5rem;
            position: absolute;
            width: 100%;
            top: 50%;
            @include transform( translateY(-50%) );
            text-align: center;
        }
    }
    a { 
        position: relative;
        text-decoration: none; 
        &:hover, &:focus, &:active {
            .overlay {
                opacity: 0.9;
            }
        }
    }
    .name {  
        font-size: 1.5rem;
        line-height: 1.2;
    }
    .pos { 
        font-weight: 300;
    }
}
.v-light .team-card a { color: var(--color-body-light); }

// cases card
.card-cases {
    text-decoration: none;
    padding: 2rem 1.5rem;
}

///////////////////////////////////////////////////////////////////////////////////
// video archive
///////////////////////////////////////////////////////////////////////////////////
.video-archive {
    a.h4 { text-decoration: none; }
}
.card-vid a { text-decoration: none;}