///////////////////////////////////////////////////////////////////////////////////
// Form Styles
///////////////////////////////////////////////////////////////////////////////////


///////////////////////////////////////////////////////////////////////////////////
// Gravity Forms
///////////////////////////////////////////////////////////////////////////////////

/******** Button styles are set in _styleguide.scss ********/





// Grav Form variables. Update these settings to make quick changes
$gf-padding: 0; // set outer padding on form
$gf-bg: transparent; // background color of form
$gf-border-width: 1px; // border-width on form

// Fields / Rows
$gf-field-margin-bottom: 1rem; // margin between field and label below (vertical spacing between rows)

// Inputs
$gf-input-border-width: 1px;
//padding
$gf-i-pt: 0.75rem;
$gf-i-pr: 0.75rem;
$gf-i-pb: 0.75rem;
$gf-i-pl: 0.75rem;
   $gf-input-padding: $gf-i-pt $gf-i-pr $gf-i-pb $gf-i-pl;
$gf-input-radius: 2px;

// header font sizing {
header.form-header {
    .title {
        font-size: 1.875rem;
        font-weight: 700;
        line-height: 1.2;
    }
    .subt {
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 1px;
    }
}

// light bg styles
.form-wrap.bg-white,
.v-light {
    .form-header .title { color: var(--color-hx-light); }
    form {
        .ginput_container_select select,
        input[type="text"],
        input[type="url"],
        input[type="email"],
        input[type="tel"],
        input[type="number"],
        input[type="password"],
        input[type="file"],
        textarea{
            color: var(--color-body-light);
            background-color: rgba( var(--color-rgb-body-light) , 0.10 );
            border-color: rgba( var(--color-rgb-body-light) , 0.4 );
        }
    }
    .gfield[class*="fa-"]::before { 
        color: $v1;
        color: var(--color-v1);
    }
    .gfield.gfield--type-consent a {
        color: $v1;
        color: var(--color-v1);
        &:hover, &:focus {
            color: $v1-accent;
            color: var(--color-v1-accent);
        } 
    }
}

// dark bg styles
.form-wrap.bg-dark,
.v-dark {
    .form-header .title { color: var(--color-hx-dark); }
    form {
        .ginput_container_select select,
        input[type="text"],
        input[type="url"],
        input[type="email"],
        input[type="tel"],
        input[type="number"],
        input[type="password"],
        input[type="file"],
        textarea{
            color: var(--color-body-dark);
            background-color: rgba( var(--color-rgb-body-dark) , 0.10 );
            border-color: rgba( var(--color-rgb-body-dark) , 0.4 );
        }
        label {
            color: var(--color-body-dark);
        }
        .ginput_container_select select:focus {
            background-color: $v1;
            background-color: var(--color-v1);
        }
    }
    .gfield[class*="fa-"]::before { 
        color: var(--color-body-dark);
    }
    .gfield.gfield--type-consent a {
        color: $v1;
        color: var(--color-link-dark);
        &:hover, &:focus {
            color: $v1-accent;
            color: var(--color-link-hover-dark);
        } 
    }
}
.bg-blur {
    .ginput_container_select select,
    input[type="text"],
    input[type="url"],
    input[type="email"],
    input[type="tel"],
    input[type="number"],
    input[type="password"],
    input[type="file"],
    textarea {
        // background-color: $dark;
        padding-left: 0.5rem;
        border: solid 1px var(--color-white) !important;
        color: $body;
        color: var(--color-body-light);
        background: rgba( var(--color-rgb-white) , 0.7 ) ;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: var(--color-body-light);
            opacity: 0.7; 
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: var(--color-body-light);
            opacity: 0.7; 
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color: $body;
            color: var(--color-body-light);
            opacity: 0.7; 
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: var(--color-body-light);
            opacity: 0.7; 
        }
    }
    .gfield[class*="fa-"]::before { 
        left: 0.5rem
    }
}

///////////////////////////////////////////////////////////////////////////////////
// Search Forms
///////////////////////////////////////////////////////////////////////////////////

.search-bar {
    input[type='search'] {
        background-color: transparent;
        border: none;
        border-bottom: solid $gf-input-border-width var(--color-body-light);
        color: $body;
        color: var(--color-body-light);
        @include f1_reg();
		padding: $gf-input-padding;
        @include mb-border-radius( $gf-input-radius );
    }
    .search-submit {
        appearance: none;
        border: none;
        color: $body;
        color: var(--color-body-light);
        background-color: transparent;
        &:hover, &:focus {
            color: $v1; 
            color: var(--color-v1);
        }
    }
    &.bg-dark {
        input[type='search'] { 
            border-color: currentColor;
            color: $white;
            color: var(--color-white);
            background-color: transparent;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: var(--color-white); 
            }
            &::-moz-placeholder { /* Firefox 19+ */
                color: var(--color-white); 
            }
            &:-ms-input-placeholder { /* IE 10+ */
                color: $white;
                color: var(--color-white); 

            }
            &:-moz-placeholder { /* Firefox 18- */
                color: var(--color-white); 
            }
        }
        .search-submit { 
            color: $white;
            color: var(--color-white); 
            &:hover, &:focus {
                color: $v2-accent; 
                color: var(--color-v2-accent);
            }
        }

    }
}



// form underline format
.form-under form {
    .ginput_container_select select,
    input[type="text"],
    input[type="url"],
    input[type="email"],
    input[type="tel"],
    input[type="number"],
    input[type="password"],
    input[type="file"],
    textarea{
        background-color: transparent !important;
        border: none;
        border-bottom: solid $gf-border-width;
        border-radius: 0;
    }
}