// main nav colors - default navbar-light
#main-nav .nav-inner {
    // transparent BG
    .search-wrap button,
    .mob-drawer .btn-pho.pho-alt,
    .main-menu button.dropdown-toggle { background-color: transparent; }
    // bg - white 
    .search-wrap input,
    .search-wrap form,
    .offcanvas { 
        background-color: $white; 
        background-color: var(--color-white); 
    }

    // bg - v1
    .btn-pho {
        background-color: $v1;
        background-color: var(--color-v1);
    }
    //  bg - v1-dark
    .navbar-toggler,
    .offcanvas-header .btn-close,
    .offcanvas-backdrop {
        background-color: $v1-dark;
        background-color: var(--color-v1-dark);
    }
    // color - white
    .navbar-toggler,
    .offcanvas-header .btn-close,
    .btn-pho {
        color: $white;
        color: var(--color-white);
    }
    // color - v1
    .mob-drawer .btn-pho.pho-alt,
    .main-menu button.dropdown-toggle.show {
        color: $v1;
        color: var(--color-v1);
    }
    // color - v1dark
    .search-wrap input,
    .main-menu a,
    .main-menu button.dropdown-toggle  {
        color: $v1-dark;
        color: var(--color-v1-dark);
    }
    // hover - v1
    .search-wrap button,
    .navbar-toggler,
    .offcanvas-header .btn-close {
        &:focus, &:hover {
            color: $v1;    
            color: var(--color-v1);
        }
    }
    // hover - v1dark
    .mob-drawer .btn-pho.pho-alt,
    .btn-pho,
    .dropdown-toggle {
        &:hover, &:focus { 
            background-color: $v1-dark; 
            background-color: var(--color-v1-dark); 
        }
    }

    // menu link mobile text styles hover
    .main-menu a {
        &:active, &:focus, &:hover  { 
            background-color: $v1; 
            background-color: var(--color-v1); 
            color: $white; 
            color: var(--color-white); 
        }
    }
    
    .dropdown-toggle i { color: inherit;} // toggle icon inherit color setting
    .offcanvas-backdrop .show { opacity: 0.5 } //backdrop opacity
    ////////////////
    /// end of color set
    ////////////////

    // Mobile ONLY border bottom
    @media( max-width: $d_md - 1 ) {
        .main-menu .top-nav-item { border-bottom: solid 1px var(--color-n400); }
    }
    ///////////////////////////////////////////////////////////////////////////////////
    // tablet +
    @media( min-width: $d_md ) { 
        .btn-pho { 
            background-color: transparent; 
            color: $v1;
            color: var(--color-v1);
            &:hover, &:focus {
                background-color: transparent;
                color: $v1-dark;
                color: var(--color-v1-dark);
            }
        }
        .head-slogan { 
            border-right: var(--color-n200,$n200) solid 1px;
        }
    }
    ///////////////////////////////////////////////////////////////////////////////////
    // laptop +
    @media( min-width: $d_lg ) {
        // desktop search styles
        .search-wrap {
            form {
                background-color: transparent;
                &:hover, &:focus {
                    background-color: $white;
                    background-color: var(--color-white);
                    input {
                        border: solid 1px $v1-dark;
                        box-shadow: 0 5px 5px rgba( $v1-dark, 0.16 );
                    }
                }
            }
            // input keyboard
            input:hover, input:focus {
                border: solid 1px $v1-dark;
                box-shadow: 0 5px 5px rgba( $v1-dark, 0.16 );
            }
        }
        .main-menu {
            a:hover {
                background-color: transparent;
                color: $v2;
                color: var(--color-v2);
            }
            // top nav styles
            .top-nav-item {
                & > a.not-toggle,
                & > a.dropdown-toggle {
                    &:hover, &:focus {
                        color: $v1-hover;
                        color: var(--color-v1-hover);
                        background-color: transparent
                    }
                }
            }
            .dropdown-menu {
                background-color: $white;
                background-color: var(--color-white);
                box-shadow: 0 3px 10px rgba( $black, 0.16 );
                a:hover {
                    background-color: $v1-dark;
                    background-color: var(--color-v1-dark);
                    color: $white;
                    color: var(--color-white);
                }
            }
            .dropdown-menu button.dropdown-toggle { 
                &:hover, &:focus {
                    background-color: $v2;
                    background-color: var(--color-v2);
                    color: $white;
                    color: var(--color-white);
                }
            }
        }
    }
    /// end of laptop +
    ///////////////////////////////////////////////////////////////////////////////////   
}




///////////////////////////////////////////////////////////////////////////////////   
// main nav colors - navbar dark
///////////////////////////////////////////////////////////////////////////////////   
#main-nav.navbar-dark {
    // transparent BG
    // .search-wrap button,
    // .mob-drawer .btn-pho.pho-alt,
    // .main-menu button.dropdown-toggle { background-color: transparent; }
    // bg - white 
    .navbar-toggler { 
        background-color: $white; 
        background-color: var(--color-white); 
    }
    
    .search-wrap input,
    .search-wrap form,
    .offcanvas { 
        background-color: $v1-dark; 
        background-color: var(--color-v1-dark); 
    }

    // bg - v1
    .btn-pho {
        background-color: $v2;
        background-color: var(--color-v2);
    }
    //  bg - v1-dark
    .offcanvas-header .btn-close,
    .offcanvas-backdrop {
        background-color: $v1-dark;
        background-color: var(--color-v1-dark);
    }
    // color - white
    .navbar-toggler,
    .offcanvas-header .btn-close,
    .search-wrap input,
    .main-menu a,
    .main-menu button.dropdown-toggle {
        color: $white;
        color: var(--color-white);
    }
    // color - v1
    .mob-drawer .btn-pho.pho-alt,
    .main-menu button.dropdown-toggle.show,
    .navbar-toggler {
        color: $v1;
        color: var(--color-v1);
    }
    // color - v1dark
    .btn-pho {
        color: $v1-dark;
        color: var(--color-v1-dark);
    }
    // hover - v2
    .search-wrap button,
    .navbar-toggler,
    .offcanvas-header .btn-close {
        &:focus, &:hover {
            color: $v2;    
            color: var(--color-v2);
        }
    }
    // hover - v1dark
    .mob-drawer .btn-pho.pho-alt,
    .btn-pho,
    .dropdown-toggle {
        &:hover, &:focus { 
            background-color: $v2-hover; 
            background-color: var(--color-v2-hover); 
        }
    }

    // menu link mobile text styles hover
    .main-menu a {
        &:active, &:focus, &:hover  { 
            background-color: $v2; 
            background-color: var(--color-v2); 
            color: $white; 
            color: var(--color-white); 
        }
    }
    
    .dropdown-toggle i { color: inherit;} // toggle icon inherit color setting
    .offcanvas-backdrop .show { opacity: 0.5 } //backdrop opacity

    // Mobile ONLY border bottom
    @media( max-width: $d_md - 1 ) {
        .main-menu .top-nav-item { border-bottom: solid 1px var(--color-n400); }
    }
    ///////////////////////////////////////////////////////////////////////////////////
    // tablet +
    @media( min-width: $d_md ) { 
        .btn-pho { 
            background-color: transparent; 
            color: $white;
            color: var(--color-white);
            &:hover, &:focus {
                background-color: transparent;
                color: $v2-hover;
                color: var(--color-v2-hover);
            }
        }
        .head-slogan { 
            border-right: var(--color-n200,$n200) solid 1px;
        }
    }
    ///////////////////////////////////////////////////////////////////////////////////
    // laptop +
    @media( min-width: $d_lg ) {
        // desktop search styles
        .search-wrap {
            form {
                background-color: transparent;
                &:hover, &:focus {
                    background-color: $white;
                    background-color: var(--color-white);
                    input {
                        border: solid 1px $v1-dark;
                        box-shadow: 0 5px 5px rgba( $v1-dark, 0.16 );
                    }
                }
            }
            // input keyboard
            input:hover, input:focus {
                border: solid 1px $v1-dark;
                box-shadow: 0 5px 5px rgba( $v1-dark, 0.16 );
            }
        }
        .main-menu {
            a:hover {
                background-color: transparent;
                color: $v2;
                color: var(--color-v2);
            }
            // top nav styles
            .top-nav-item {
                & > a.not-toggle,
                & > a.dropdown-toggle {
                    &:hover, &:focus {
                        color: $v2-hover;
                        color: var(--color-v2-hover);
                        background-color: transparent
                    }
                }
            }
            .dropdown-menu {
                background-color: $v1-dark;
                background-color: var(--color-v1-dark);
                box-shadow: 0 3px 10px rgba( $black, 0.16 );
                a:hover {
                    background-color: $v2;
                    background-color: var(--color-v2);
                    color: $v1-dark;
                    color: var(--color-v1-dark);
                }
            }
            .dropdown-menu button.dropdown-toggle { 
                &:hover, &:focus {
                    background-color: $v2;
                    background-color: var(--color-v2);
                    color: $v1-dark;
                    color: var(--color-v1-dark);
                }
            }
        }
    }
    /// end of laptop +
    ///////////////////////////////////////////////////////////////////////////////////   
    /// 
    /// 
    &.bg-v1 .nav-inner {
        .search-wrap input,
        .search-wrap form,
        .offcanvas { 
            background-color: $v1; 
            background-color: var(--color-v1); 
        }
        @media( min-width: $d_lg ) {
            .dropdown-menu {
                background-color: $v1;
                background-color: var(--color-v1);
                box-shadow: 0 3px 10px rgba( $black, 0.16 );
                a:hover {
                    background-color: $v2;
                    background-color: var(--color-v2);
                    color: $v1;
                    color: var(--color-v1);
                }
            }
        }
    }
    &.bg-black .nav-inner {
        .search-wrap input,
        .search-wrap form,
        .offcanvas { 
            background-color: $black; 
            background-color: var(--color-black); 
        }
        @media( min-width: $d_lg ) {
            .dropdown-menu {
                background-color: $black;
                background-color: var(--color-black);
                box-shadow: 0 3px 10px rgba( $black, 0.16 );
                a:hover {
                    background-color: $v2;
                    background-color: var(--color-v2);
                    color: $black;
                    color: var(--color-black);
                }
            }
        }
    }
}






#main-nav.bg-v2 .nav-inner {
    .search-wrap input,
        .search-wrap form,
        .offcanvas { 
            background-color: $v2; 
            background-color: var(--color-v2); 
        }
        @media( min-width: $d_lg ) {
            .dropdown-menu {
                background-color: $v2;
                background-color: var(--color-v2);
                box-shadow: 0 3px 10px rgba( $black, 0.16 );
                a:hover {
                    background-color: $v1-hover;
                    background-color: var(--color-v1-hover);
                    color: $v2;
                    color: var(--color-v2);
                }
            }
        }
}
