///////////////////////////////////////////////////////////////////////////////////
// Heros
///////////////////////////////////////////////////////////////////////////////////
.hero {
    position: relative;
    overflow: hidden;
    min-height: 275px;
    .overlay {
        z-index: 0;
        overflow: hidden;
    }
    &:not(.hero-team) header {
        position: relative;
        z-index: 1;
        padding: 2rem 0;
        z-index: 4;
        &.has-bg {
            padding: 2rem;
            .head-bg { z-index: -1;}
        }
    }
    h1,.h1 { font-size: var(--font-size-hero); }
    .subt { font-size: var(--font-size-h5); }
    @media #{$mq-md} {
        min-height: 500px;
        &:not(.hero-team):not(.hero-resources):not(.hero-faqs) header { max-width: 850px;}
    }
}

///////////////////////////////////////////////////////////////////////////////////
// Hero - Team
///////////////////////////////////////////////////////////////////////////////////
.hero.hero-team{
    padding-bottom: 0;
    min-height: unset;
    .info-wrap {
        display: flex;
        justify-content: start;
        align-items: start;
        margin-bottom: 0.75rem;
        i {  
            margin-top: 4px;
            margin-right: 0.5rem;
            color: inherit;
        }
    }
    @media #{$mq_lg} {
        h1, .h1 { font-size: 3.125rem; }
    }
}

///////////////////////////////////////////////////////////////////////////////////
// Hero - Home
///////////////////////////////////////////////////////////////////////////////////
.hero.hero-home {
    .obj img {
        object-position: top center;
    }
    h1,.h1 { font-size: var(--font-size-display); }
    .btn { padding: 0.75rem 1rem;}
    height: 100%;
    min-height: 95vh;
    // content over image
    .container-v {
        z-index: 2;
    }
    // Home Hero Image
    .hh-img-wrap {
        position: relative;
        z-index: 1;
        max-height: 350px;
        .img-wrap {
            position: relative;
            top: 0;
        }
        img {
            display: block;
            position: relative;
            object-fit: contain;
            object-position: top center;
        }
    }
    @media #{$mq_md} {
        .hh-img-wrap {
            position: absolute;
            top: 200px;
            bottom: 0;
            max-width: 50vw;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            max-height: unset;
            &.img-start {
                left: 5vw;
            }
            &.img-end {
                right: 5vw;
            }
            img {
              object-position: bottom right;
            }    
        }
    }
    @media #{$mq_xl} {
        .hh-img-wrap {
            max-width: 800px;
        }
    }
}
.hero-bar {
    position: relative;
    z-index: 5;
    .feat {
        i{ font-size: 1.125rem; }
        .text { 
            font-size: 0.5625rem; 
            line-height: 1.45;
        }
        &.v-light {
            i { 
                color: var(--color-link-light);
            }
            a {
                color: var(--color-body);
                &:hover, &:focus {
                    color: var(--color-link-light);
                }
            }
        }
    }
    @media #{$mq_md} {
        .feat{
            i { 
                font-size: 2.5rem;
            }
            .text { 
                font-size: var(--font-size-body);
            }
    }}
    @media #{$mq_xl} {
        .feat i { 
            font-size: 3.4375rem;
        }
        
    }
}

// neg bottom margin bar
.hero-home.home-bar  {
    padding-bottom: 50px;
}
.hero-bar {
    margin-top: -50px;
}
@media #{$mq_lg} {
    .hero-home.home-bar {
        padding-bottom: 50px;
    }
    .hero-bar {
        margin-top: -50px;
    }
}
@media #{$mq_xl} {
    .hero-home.home-bar {
        padding-bottom: 100px;
    }
    .hero-bar {
        margin-top: -100px;
    }
}
@media #{$mq_xxl} {
    .hero-home.home-bar {
        padding-bottom: 150px;
    }
    .hero-bar {
        margin-top: -150px;
    }
}

///////////////////////////////////////////////////////////////////////////////////
// Hero - Page Templates
///////////////////////////////////////////////////////////////////////////////////


// 404 page
.error404 .hero { 
    min-height: 65vh;
    @media #{$mq_md} {
        padding: 6rem 0;
    }
}


// Thank You 
.page-template-thanks .hero { 
    min-height: 90vh;
    @media #{$mq_md} {
        padding: 4rem 0;
    }
}