///////////////////////////////////////////////////////////////////////////////////
// Sidebars
///////////////////////////////////////////////////////////////////////////////////
/// 
.sidebar {
    // form styles
    form {
        textarea { height: 100px;}
        .gfield_html {
            font-size: 0.625rem;
            text-align: center;
            p,a { font-size: inherit; }
            a {
                color: $v1;
            }
        }
    }
    // menu styles 
    .sb-menu {
        padding: 0;
        width: 100%;
        li{
            padding: 0;
            border-bottom: 1px var(--color-body-light) solid; 
            &::before {
                content: '\f061';
                right: 0;
                left: auto;
                top: 50%;
                @include transform(translateY(-50%));
            }
            a {
                padding: 0.5rem;
                color: $body;
                color: var(--color-body-light);
                text-decoration: none;
                &:hover, &:focus {
                    color: $v1-accent;
                    color: var(--color-v1-accent);
                }
            }
        }
    }

    // posts styles
    .sb-blog {
        article {
            border-bottom: solid var(--color-n600) 1px;
            &:first-of-type {
                border-top: solid var(--color-n600) 1px;
            }
            h3 { 
                font-size: 1rem; 
                line-height: 1.875;
            }
            a {
                color: $v1;
                color: var(--color-v1);
                text-decoration: none;
                &:hover, &:focus {
                    color: $v1-accent;
                    color: var(--color-v1-accent);
                }
            }
        }
    }



    // CTA styles
    .sb-cta {
        .bg-bg, .bg-light, .bg-white, .bg-v1 {
            .no-btn {
                color: $v1;
                color: var(--color-v1);
                &:hover, &:focus { 
                    color: $v1-accent;
                    color: var(--color-v1-accent);
                }
            }
        }
        .bg-v1 .no-btn {
            color: $v2;
            color: var(--color-v2);
            &:hover, &:focus { 
                color: $v2-accent;
                color: var(--color-v2-accent);
            }
        }
        .bg-v2 .no-btn,
        .bg-dark .no-btn {
            color: $v2;
            color: var(--color-v2);
            &:hover, &:focus { 
                color: $v2-accent;
                color: var(--color-v2-accent);
            }
        }
    }
}


// img styles 
.sidebar{
    .img-accent-bg {
        width: calc(100% - 25px);
    }
}

/// testimonial
.sb-test {
    .test-wrap { box-shadow: 0 1rem 6.188rem rgba(0,46,73,.15); }
    .icon-wrap { display: none; }
    .testimonial-card {
        box-shadow: none !important;
        padding: 0.5rem 1rem !important;
    }
}


// Resources Form 
.single-resources .sb-form .ratio {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;

}



