///////////////////////////////////////////////////////////////////////////////////
// Color rules - Background and color utils
///////////////////////////////////////////////////////////////////////////////////
// color variables set at :root {
//
// var(--color-v1)
// var(--color-v1-hover)
// var(--color-v1-light)
// var(--color-v1-dark)
// var(--color-v2)
// var(--color-v2-hover)
// var(--color-hx)
// var(--color-body)
// var(--color-white)
// var(--color-n50)
// var(--color-n200)
// var(--color-n400)
// var(--color-n600)
// var(--color-n800)
// var(--color-n900)
// var(--color-black)
// var(--color-error)
// var(--color-error-50)
// var(--color-warning)
// var(--color-warning-50)
// var(--color-success)
// var(--color-success-50)
// var(--color-focus)
// var(--color-focus-50)
// var(--color-review)
// var(--color-review-50)
/// 

// body/text color
.c-body 	{ color: $body; color: var(--color-body);}
.c-headline { color: $headline; color: var(--color-headline);}

// Primary accent vars
.c-v1  { color: $v1; color: var(--color-v1); }
.c-v1-light,
.c-v1l { color: $v1-light; color: var(--color-v1-light); }
.c-dark,
.c-v1d-dark,
.c-v1d { color: $v1-dark; color: var(--color-v1-dark); }
.c-v1-hover,
.c-v1h { color: $v1-hover; color: var(--color-v1-hover); }

// second accent vars
.c-v2  { color: $v2; color: var(--color-v2); }
.c-v2-hover,
.c-v2h { color: $v2-hover; color: var(--color-v2-hover); }

/* Netral Colors */
.c-white { color: $white !important; color: var(--color-white) !important;}
.c-n50   { color: $n50; color: var(--color-n50); }
.c-light
.c-n200  { color: $n200; color: var(--color-n200); }
.c-ltgray, 
.c-ltgrey,
.c-n400  { color: $n400; color: var(--color-n400); }
.c-n600  { color: $n600; color: var(--color-n600); }
.c-gray,
.c-grey,
.c-n800  { color: $n800; color: var(--color-n800); }
.c-n900  { color: $n900; color: var(--color-n900); }
.c-light { color: $n200; color: var(--color-n200); }
.c-black { color: $black; color: var(--color-black); }

// system/status colors
.c-error      { color: $error; color: var(--color-error);} 
.c-error-50   { color: $error-50; color: var(--color-error-50);} 
.c-warning    { color: $warning; color: var(--color-warning);} 
.c-warning-50 { color: $warning-50; color: var(--color-warning-50);} 
.c-success    { color: $success; color: var(--color-success);} 
.c-success-50 { color: $success-50; color: var(--color-success-50);} 
.c-focus 	  { color: $focus; color: var(--color-focus);} 
.c-focus-50   { color: $focus-50; color: var(--color-focus-50);} 
.c-review 	  { color: $review; color: var(--color-review);} 
.c-review-50  { color: $review-50; color: var(--color-review-50);} 




///////////////////////////////////////////////////////////////////////////////////
// Backgrounds ////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
// Primary accent vars
.bg-trans { background: transparent;}
.bg-v1  { 
	background: $v1; 
	background: var(--color-v1, $v1); 
}
.bg-v1-light,
.bg-v1l { background: $v1-light; background: var(--color-v1-light); }
.bg-dark,
.bg-v1d-dark,
.bg-v1d { background: $v1-dark; background: var(--color-v1-dark) !important; }
.bg-v1-hover,
.bg-v1h { background: $v1-hover; background: var(--color-v1-hover); }
.bg-v1-grad {  
	background: linear-gradient(180deg, rgba(var(--color-rgb-v1), 0.1) 0%, rgba( var(--color-rgb-white), 0.101042) 49.48%, rgba(var(--color-rgb-v1), 0.1) 100%),
	linear-gradient(0deg, #FFFFFF, #FFFFFF);  
}
.bg-blur {
	background-image: linear-gradient(90.76deg, rgba( var(--color-rgb-white), 0.9) 2.23%, rgba( var(--color-rgb-white), 0) 50.76%, rgba( var(--color-rgb-white), 0.9) 99.28%);
	backdrop-filter: blur(7.5px);	
}
// second accent vars
.bg-v2  { background: $v2; background: var(--color-v2); }
.bg-v2-hover,
.bg-v2h { background: $v2-hover; background: var(--color-v2-hover); }

/* Netral Colors */
.bg-white { background: $white; background: var(--color-white);}
.bg-n50   { background: $n50; background: var(--color-n50); }
.bg-light,
.bg-n200  { background: $n200; background: var(--color-n200); }
.bg-ltgray, 
.bg-ltgrey,
.bg-n400  { background: $n400; background: var(--color-n400); }
.bg-n600  { background: $n600; background: var(--color-n600); }
.bg-gray,
.bg-grey,
.bg-n800  { background: $n800; background: var(--color-n800); }
.bg-n900  { background: $n900; background: var(--color-n900); }
.bg-light { background: $n200; background: var(--color-n200); }
.bg-black { background: $black; background: var(--color-black) !important; }

// system/status colors
.bg-error      { background: $error; background: var(--color-error);} 
.bg-error-50   { background: $error-50; background: var(--color-error-50);} 
.bg-warning    { background: $warning; background: var(--color-warning);} 
.bg-warning-50 { background: $warning-50; background: var(--color-warning-50);} 
.bg-success    { background: $success; background: var(--color-success);} 
.bg-success-50 { background: $success-50; background: var(--color-success-50);} 
.bg-focus 	   { background: $focus; background: var(--color-focus);} 
.bg-focus-50   { background: $focus-50; background: var(--color-focus-50);} 
.bg-review 	   { background: $review; background: var(--color-review);} 
.bg-review-50  { background: $review-50; background: var(--color-review-50);} 



// MISC Backgrounds
.bg-trans { background: transparent; }


// border colors
.bo-white { border: solid 2px var(--color-white);}
.bo-v1  { border: solid 2px var(--color-v1);}
.bo-v2  { border: solid 2px var(--color-v2);}
.bo-dark  { border: solid 2px var(--color-dark);}
.bo-black { border: solid 2px var(--color-black);}

///////////////////////////////////////////////////////////////////////////////////
// Color rules - Background and color utils
///////////////////////////////////////////////////////////////////////////////////

// theme for light bg 
.v-light {
	color: $body;
	color: var(--color-body-light, $body);
	h1,  h2,  h3,  h4,  h5,  h6,
	.h1, .h2, .h3, .h4, .h5, .h6 { 
		color: var(--color-hx-light);
		span {
			color: var(--color-hx-flair-light);
		}
   }
	a:not(.btn),
	button.no-btn,
	button.btn-close,
	a.no-btn {
		color: $v1;
		color: var(--color-link-light);
		&:hover, &:focus {
			color: $v1-accent;
			color: var(--color-link-hover-light);
		}
	}
	.subt { color: var(--color-subt-light); }
	.pret { color: var(--color-pret-light); }
	.super-quote.sq-hi blockquote { border-color: var(--color-flair-light);}
	ul:not(.social):not(.slick-dots):not(.pagination):not(.clean) li::before,
	ol li::marker {
		color: var(--color-flair-light);
	}

	.icon-wrap.icon-circle::after,
	.flair::before {
		background-color: var(--color-flair-light);
	}
}

// theme for dark bg 
.v-dark {
	color: $body;
	color: var(--color-body-dark);
	h1,  h2,  h3,  h4,  h5,  h6,
	.h1, .h2, .h3, .h4, .h5, .h6 { 
		color: var(--color-hx-dark, red);
		span {
			color: var(--color-hx-flair-dark);
		}
   }
	a:not(.btn),
	button.no-btn,
	button.btn-close,
	a.no-btn {
		color: $v1;
		color: var(--color-link-dark);
		&:hover, &:focus {
			color: $v1-accent;
			color: var(--color-link-hover-dark);
		}
	}
	.subt { color: var(--color-subt-dark); }
	.pret { color: var(--color-pret-dark); }
	.super-quote.sq-hi blockquote { border-color: var(--color-flair-dark);}
	ul:not(.social):not(.slick-dots):not(.pagination):not(.clean) li::before,
	ol li::marker {
		color: var(--color-flair-dark);
	}
	.flair::before {
		background-color: var(--color-flair-dark);
	}
}


// hover bgs for cards
a {
	&[class*='bg-'] {
		&.v-light { 
			color: var(--color-v1);
			&:hover, &:focus { color: var(--color-v1); } 
		}
		&.v-dark { 
			color: var(--color-white);
			&:hover, &:focus { color: var(--color-white); } 
		}
	}
	&.bg-white:hover,&.bg-white:focus {
		background-color: var(--color-v2) !important;
		&.v-light { 
			color: var(--color-white);
			&:hover, &:focus { color: var(--color-white); } 
		}
	}
	&.bg-v1:hover,&.bg-v1:focus {
		background-color: var(--color-v1-hover);
	}
	&.bg-v2:hover,&.bg-v2:focus {
		background-color: var(--color-v2-hover);
	}
	&.bg-dark:hover,&.bg-dark:focus {
		background-color: var(--color-v1-hover) !important;
	}
	&.bg-black:hover,&.bg-black:focus {
		background-color: var(--color-v1-dark) !important;
	}
	&.bg-trans:hover,&.bg-trans:focus {
		&.v-light { 
			color: var(--color-v1-hover);
			&:hover, &:focus { color: var(--color-v1-hover); } 
		}
		&.v-dark { 
			color: var(--color-v2);
			&:hover, &:focus { color: var(--color-v2); } 
		}
	}
}